<!DOCTYPE html>



<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Web2py</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/framework/static/css/materialize-front.css" type="text/css" rel="stylesheet"
      media="screen,projection">
    <link href="/framework/static/css/style-front.css" type="text/css" rel="stylesheet"
      media="screen,projection">
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container"> <a id="logo-container" href="#" class="brand-logo">Web2py</a>
        <ul class="right hide-on-med-and-down">
          <li style="color:black;"><a href="#">Log in!</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
           <li style="color:black;"><a href="#">Log in!</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container"> <br>
          <br>
          <h1 class="header center teal-text text-lighten-2">Welcome</h1>
          <div class="row center">
            <h5 class="header col s12 light"></h5>
          </div>
          <div class="row center"> <a href="/admin/default/site"
              id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Applications</a> </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax"><img alt="My Logo" src="/framework/static/images/background.jpg"></div>
    </div>

        <br>
        <br>
        <br>
        <br>
        <h4 style="text-align: center;">Welcome to web2py!

How did you get here?</h4>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center" style="text-align: left;">
           <ol>
              <li>You are successfully running web2py</li>
              <li>You visited the url /welcome/default/index</li>
              <li>Which called the function index() located in the file web2py/applications/welcome/controllers/default.py</li>
              <li>The output of the file is a dictionary that was rendered by the view web2py/applications/welcome/views/default/index.html</li>
              <li>You can modify this application and adapt it to your needs</li>
          </ol>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"></h5>
            <p class="grey-text text-lighten-4"></p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text"></h5>

          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container"> Edilson Alzemand
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/framework/static/js/materialize-front.js"></script>
    <script src="/framework/static/js/init-front.js"></script>
  </body>
</html>
